{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="pad-right-40">
        <h2>About This Project</h2>
        <p>
            I started this project to help out a friend who got tired of entering her horses' stats into 
            an Excel spreadsheet! At first I was just going to hand her a script for Excel, but
            it evolved into this web app. I hope to keep expanding it in the future. :)
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div id="faq">
        <h2>FAQ</h2>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Why does it take so long to load my horses?</h5>
                    <p class="card-text">
                        When you request to get your horse data, we have to send several requests to the 
                        HorseReality servers per horse! Because we don't want to overwhelm the servers,
                        we can only request so much data per second and so it can take quite some time
                        to load it all.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}