{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="pad-right-40">
        <h2>About This Project</h2>
        <p>
            I started this project to help out a friend who got tired of entering her horses' stats into 
            an Excel spreadsheet! At first I was just going to hand her a script for Excel, but
            it evolved into this web app. I hope to keep expanding it in the future. :)
        </p>
        <p>
            This project was my first web scraping project, as well as my first complete web application.
            I've learned a lot about web pages, Python, and even the legalities of coding projects.
            Overall, this was a GREAT project for a data-lover like me.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div id="faq">
        <h2>FAQ</h2>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Why does it take so long to load my horses?</h5>
                    <p class="card-text">
                        When you request to get your horse data, we have to send several requests to the 
                        HorseReality servers per horse! Because we don't want to overwhelm the servers,
                        we can only request so much data per second and so it can take quite some time
                        to load it all.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Is sort of thing allowed?</h5>
                    <p class="card-text">
                        Yes! Because our script does not play the game and only collects data, it is completely allowed in
                        HorseReality's Terms of Service.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}