{% extends 'base.html' %}

{% block content %}

<div id="coming_soon">

    <div class="row">
        <h2>Features I'd Like to Add</h2>
    </div>

    <div class="row">
        <div class="card-group">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">More-Advanced Conformation Ratings</h5>
                    <p class="card-text">
                        Determining "good +" vs "good" conformation ratings
                        base off of the Breeder's advice
                    </p>
              </div>
            </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Offspring Stat Prediction</h5>
                  <p class="card-text">
                    Estimating stat ranges of potential offspring from a breeding (considering the RNG and such,
                    this may not be feasible)
                  </p>
                </div>
            </div>
    </div>
    

</div>

{% endblock %}