{% extends 'base.html' %}

{% block content %}

<div id="credits">
    <div class="row">
        <h2>Credits</h2>
    </div>

    <div class="row">
        <div class="card-group">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://realtools.shay.cat/" target="_blank">RealTools Library:</a></h5>
                    <p class="card-text">
                        Huge thanks to Shay and their RealTools client library
                        that I use for getting basic horse data and authentication, as well as their
                        help getting it set up! Go check them out for some more awesome tools for Horse Reality.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://v2.horsereality.com/user/1690" target="_blank">Rosiee</a> on HorseReality.com:</h5>
                    <p class="card-text">
                        For being the inspiration for this project and helping me understand the site even though I'm not a player.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://stackoverflow.com/questions/68392446/download-html-table-when-clicked-on-button" target="_blank">This</a> StackOverflow Thread:</h5>
                    <p class="card-text">
                        For the idea behind the CSV downloading functionality.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}